@import 'base';
@import 'variables';
@import 'mixins';

// header
.header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: $spacing-md;
    min-height: 30vh;
    background-color: var(--navy-950);
    color: var(--gray-50);

    background-image: url(/public/assets/bg-mobile-light.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    &__icon, h1 {
        margin-top: 2rem;
    }

    &__icon {
        width: 2rem;
        height: 2rem;
    }
}

html[data-theme='dark'] .header {
    background-image: url(/public/assets/bg-mobile-dark.jpg);
}