@import '../variables';

.todo__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: $spacing-md;
    background-color: var(--gray-50);
    border-radius: .5rem;
    margin-top: -3rem;
    box-shadow: var(--shadow-md);

    & input {
        padding: 0.5rem;
        width: 100%;
        border-radius: 0.15rem;
        color: var(--navy-850);
        background-color: var(--gray-30);
        border: none;

        &:focus-visible {
            outline-color: var(--purple-300);
        }
    }

    & button {
        height: 1.5rem;
        aspect-ratio: 1 / 1;
        border: 1px solid var(--gray-300);
        background-color: transparent;
        background: none;
        border-radius: 50%;

        &:hover {
            background-color: var(--purple-300);
        }

        &:active {
            scale: 0.95;
        }

    }
}

.todo__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    background-color: var(--gray-50);
    border-radius: .5rem;
    box-shadow: var(--shadow-md);
}

.todo__task {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: $spacing-md;
    background-color: var(--gray-30);
    border-bottom: 1px solid var(--gray-300);

    &:last-of-type {
        border-bottom: none;
    }

    & button {
        height: 1.5rem;
        aspect-ratio: 1 / 1;
        border: 1px solid var(--gray-300);
        background-color: transparent;
        background: none;
        border-radius: 50%;

        &:hover {
            background-color: var(--purple-300);
        }

        &:active {
            scale: 0.95;
        }
    }
}